
  <div class="wrapper">
    <h2 class="form-signin-heading" >Please login</h2>
    <input type="text" class="form-control" name="username" placeholder="Email Address" [(ngModel)]="name" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" required=""/>      
    <!--label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label-->
    <button (click)="login()"class="btn btn-lg btn-primary btn-block" type="button">Login</button>    
    <!--button (click)="guardarMensaje()"class="btn btn-lg btn-primary btn-block" type="button">guardarMensaje</button-->      
    <button (click)="AccesoRapido()"class="btn btn-lg btn-primary btn-block" type="button">AccesoRapido</button>     
  </div>    
      
      