<app-pagina ruta="quienEsQuien"></app-pagina>
<br/>
<br/>
<br/>
<div class="card mt-5" *ngIf="verComenzar">
    <button class="btn-lg" (click)="Empezar();">comenzar</button>
</div>
<h1 *ngIf="esto" [innerHtml]="ver"></h1>
<div [innerHtml]="alertas"></div>
<div *ngIf="esto" class="grid" > 
    <img *ngFor="let item of personajes" src="{{item.imagen}}" (click)="ImagenClick(item);" height="150px"><!-- cada uno de los ítems del grid -->
</div>
<br/>
<div *ngIf="esto">
    <div>
        <h3>Genero:</h3>
        <button (click)="boton('Femenino','Genero')" class="btn-lg">Es Femenino? </button>&nbsp;&nbsp;
        <button (click)="boton('Masculino','Genero')" class="btn-lg" >Es Masculino?</button>&nbsp;&nbsp;
    </div>
    <br/>
    <div>
        <h3>Color Ojos:</h3>
        <button *ngFor="let item of coloresArray" (click)="boton(item,'colorOjos')" class="btn-lg">Es {{item}}? </button>&nbsp;&nbsp;
        
    </div>
    <br/>
    <div>
        <h3>Color Pelo:</h3>
        <button  *ngFor="let item of coloresArray" (click)="boton(item,'colorPelo')" class="btn-lg">Es {{item}}? </button>&nbsp;&nbsp;
    </div>
    <br/>
    <div>
        <h3>Anime?</h3>
        <button *ngFor="let item of animesArray" (click)="boton(item,'anime')" class="btn-lg">Es de {{item}}? </button>&nbsp;&nbsp;
        
    </div>
</div>
<div *ngIf="verElejido">
    <h3>El elegido es:</h3>
    <img src="{{personajeElejido.imagen}}" height="300px">
    <h3>{{personajeElejido.nombre}} {{personajeElejido.apellido}}</h3>
</div>