
  <app-pagina ruta="/QuienSoy"></app-pagina>
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-3 jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-2">QuienSoy?</h1>
        <img src="assets/yo.jpg" alt="300px">
        <p>Hola soy Marcos Sopelana Soy un programador de la facultad utnFra. Esto es una sala de juego</p>
      </div>
    </div>
  <div class="col jumbotron">
    <div class="container">
      <h1 class="display-3">Quien es quien?</h1>            
      <p>INSTRUCCIONES QUIÉN ES QUIÉN<br/>
        Se te van a mostrar 25 caras<br/>
              
        Antes de jugar por primera vez, observar algunas de las diferencias entre las caras de su bandeja: narices, sombreros, gafas, pelo, barbas, bigotes y muchos otros detalles son diferentes en cada cara.<br/></p>
      
      <p>
        REGLAS DEL QUIÉN ES QUIÉN<br/>
      Vas haciendo preguntas tratando de adivinar la cara.<br/>
      
      Las preguntas solo pueden ser contestadas con un «sí» o un «no».<br/>
      
      Por ejemplo: «¿Tu personaje misterioso tiene los ojos azules?»<br/>
      
      Si la respuesta es «sí», entonces sabes que todas las personas con ojos marrones pueden ser eliminadas de su bandeja.<br/>
      Si la respuesta es «no», entonces todas las personas con ojos azules pueden ser eliminadas.<br/>
      Al eliminar una cara, simplemente desaparece del tablero<br/>
      
      Segui haciendo preguntas por turnos hasta que puedas adivinar quién está en la cara misteriosa del oponente.<br/>
      </p>
      <p>
        ADIVINANDO LA CARTA DEL MISTERIO<br/>
        Cuando el jugador esté listo para adivinar quién está en detrás de la cara del Misterio debe pensárselo muy bien. Pierdes una pregunta<br/>
      </p>
      <p>
        ¿CÓMO SE GANA?<br/>
        Si adivinas quién es la cara Misteriosa de tu oponente antes de las 5 preguntas, ¡tú ganas!<br/>
      
      </p>
    </div>
  </div>
</div> 
