<app-pagina ruta="/Ahorcado"></app-pagina>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="main-container">

    <h1 class="titulo">Juego del Ahorcado</h1>
    <div class="flex-row no-wrap">
      <h1 [innerHTML]="msgfinal"></h1>
      <h3 [innerHTML]="acierto"></h3>
      <h2 class="palabra" id="palabra"></h2>
      <picture [innerHtml]="innerHtml"></picture>
    </div>
    <div class="flex-row" id="turnos">
      <div class="col">
        <h3>Intentos restantes: <span id="intentos">{{cont}}</span></h3>
      </div>
      <div class="col">
        <span *ngFor="let letra of hueco" >{{letra}} </span><br/>
        <span>{{pista}} </span><br/>
        <button (click)="inicio()" *ngIf="verIniciar" [innerHTML]="reset">Iniciar</button>
        <button (click)="verPista()" *ngIf="verPisto" id="pista">Dame una pista!</button>
      </div>
      </div>
    
    <div class="flex-row" *ngIf="ver">
      <div class="col" *ngFor="let letra of letras" >
          <button (click)="intento(letra,$event)" >{{letra}}</button>
      </div>
      <div class="col"></div>
    </div>

  </div>
  