<!--nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-toggler" >Spirit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Ahorcado">Ahorcado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/MayorMenor">Mayor o Menor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Preguntados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/QuienSoy">Quien Soy?</a>
        </li>
        
      </ul>
      <li class="nav-item">
        <a  style="color: white">{{saludo}} </a>
      </li>
        <button (click)="register()" *ngIf="isShown" class="btn btn-outline-success my-2 my-sm-0" >Register</button>
        <button (click)="login()" *ngIf="isShown"  class="btn btn-outline-success my-2 my-sm-0" >Login</button>
        <button (click)="cerrarSession()" *ngIf="isShowna" class="btn btn-outline-success my-2 my-sm-0" >Log Out</button>
      </div>
  </nav-->
  <app-pagina ruta="/home"></app-pagina>
  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hola!!!</h1>
        <p>Hola soy Marcos Sopelana Soy un programador que esta programando en Angular. Esto es una sala de juego. Para mas informacion Aca abajo</p>
        <p><a class="btn btn-primary btn-lg" href="/QuienSoy" role="button">Quien Soy?</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Ahorcado</h2>
          <p> ahorcado (también llamado colgado) es un juego de adivinanzas de lápiz y papel para dos o más jugadores. Un jugador piensa en una palabra, frase u oración y el otro trata de adivinarla según lo que sugiere por letras o números.</p>
          <p><a class="btn btn-secondary" href="/Ahorcado" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mayor o Menor</h2>
          <p>Juego educativo que compara dos conjuntos de objetos, y hay que determinar cuál es mayor o menor. Para ello, hay que seleccionar el operador matemático de comparación, mayor, menor o igual, para señalar el conjunto con un número de objetos más alto.
          </p>
          <p><a class="btn btn-secondary" href="/MayorMenor" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Preguntados</h2>
          <p>Preguntados es un juego de preguntas y respuestas de seis categorías diferentes: geografía, historia, arte, ciencia, entretenimiento, deportes. Para ganar, tendrás que conseguir los personajes correspondientes a cada una de las categorías. Gira la rueda y el azar decidirá las preguntas que tendrás que responder.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> 

  </main>

  <footer class="container">
    <p>&copy; </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>